/* This will generate App.css*/

//Color variables
$frame-color: #111111;
$main-bg: #282c34;
$main-font-color: #FFFFFF;
$link-color: #61dafb;
$thumbnail-bg: #285467;


.App {
    text-align: center;
}
  
  
  
.App-header {
    background-color: $main-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $main-font-color;
}
  
.App-link {
    color: $link-color;
}
  
nav {
    background-color: $frame-color;
    color: $main-font-color;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 10px;
        display: flex;
        li {
            padding-left: 20px;
            a {
                text-decoration: none;
            }
        }
    }
}

footer {
    background-color: $frame-color;
    color: $main-font-color;
    height: 80px;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

.mainArea {
    background-color: $main-bg;
    top: 50px;
    position: fixed;
}

//Contains thumbnails
.board {
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    display: flex;
    flex-wrap: wrap;
    width: 22vh;
    height: 28vh;
    margin: 3vh;
    border-radius: 5px;
    background-color: $thumbnail-bg;
    
    .thumbnailImage {
        width: 100%;
        max-width: 18vh;
        max-height: 18vh;
        min-height: 18vh;
        min-width: 18vh;
        margin: 2vh;
    }
    
    .thumnailLabel {
        width: 100%;
        text-align: center;
    }
}

//Item description panel, when showed on full page
.itemDescription {
    display: flex;
    flex-wrap: nowrap;
    margin: 10vh;
    width: 90vw;
    border-radius: 5px;
    background-color: $thumbnail-bg;
    
    .itemDescriptionCol0 {
        .fullpageImage {
            //This does not need flex
            max-width: 40vw;
            max-height: 40vw;
            min-height: 40vw;
            min-width: 40vw;
            margin: 2vw;
            border-radius: 5px;
        }
    }

    .itemDescriptionCol1 {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        .fullpageName {
            width: 100%;
        }
    
        .fullpageDesc {
            width: 100%;
        }
    
        .fullpagePrice {
            flex-basis: 20vw;
        }
    
        .fullpageQuant {
            flex-basis: 20vw;
        }
    }


}